html, body, div, span, object, iframe,h1, h2,
h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn,
em, img, ins,kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd,
ol, ul, li,fieldset, form, label, legend,table, caption, tbody,
tfoot,thead,tr, th, td,article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section, summary,time, mark,
audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  outline-style:none;/*FF*/
}

html,body,#app{
  height: 100%;
  overflow: hidden;
}

body {
  line-height:1;
}

a{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;

}
a:hover,a:focus{
  text-decoration:none;
  bblr:expression(this.onFocus=this.blur());/*IE*/
  outline-style:none;/*FF*/
}
table {
  border-collapse:collapse;
  border-spacing:0;
}

input, select {
  vertical-align:middle;
}

/*滚动条样式*/
::selection {background: #015dcc;color: white;text-shadow: none;}
::-webkit-scrollbar-track-piece{width:8px;background-color:#f2f2f2}
::-webkit-scrollbar{width:8px;height:6px}
::-webkit-scrollbar-thumb{height:50px;background-color:rgba(0,0,0,.3);}
/*::-webkit-scrollbar-thumb:hover{background:#cc0000}*/

/*css为clearfix，清除浮动*/
.clearfix::before,
.clearfix::after{
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.clearfix:after{clear:both;}
.clearfix{
  *zoom:1;/*IE/7/6*/
}

/*错误消息提示*/
.msg{
  color: #f56c6c;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}

/*模态框样式*/
.el-dialog__header{
  background-color: #2c3e50;
}
.el-dialog__title{
  color: #fff;
}

/*表格公用样式*/
.el-table th{
  background: #F0F0F0;
  height: 40px;
  padding: 0;
}
.el-table td {
  height: 40px;
  padding: 0;
}

/*card样式*/
.card_title{
  font-weight: bold;
}
.content_style{
  font-weight: normal;
}
.box-card{
  margin-left: 20px;
  margin-top: 20px;
  width: calc( 100% - 40px);
}

.el-menu-item-group__title{
  padding: 0;
}
/* 按钮样式 */
.button_style{
  margin-top: 10px;
}
.el-table__fixed-right-patch{
  width:0 !important;
}
